absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
alembic==1.13.1
annotated-types==0.7.0
anyio==4.8.0
appnope==0.1.4
argcomplete==3.2.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==25.2.0
babel==2.16.0
backoff==2.2.1
beautifulsoup4==4.13.3
bitarray==2.9.2
black==24.1.1
bleach==6.1.0
blinker==1.9.0
cbor2==5.6.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.3.1
cycler==0.12.1
cytoolz==0.12.3
dataclassy==0.11.1
datasets==3.5.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20241021
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
eip712==0.2.4
eth-account==0.10.0
eth-brownie==1.20.1
eth-event==1.2.5
eth-hash==0.6.0
eth-keyfile==0.7.0
eth-keys==0.5.0
eth-rlp==1.0.1
eth-typing==3.5.2
eth-utils==2.3.1
eth_abi==5.0.0
execnet==2.0.2
executing==2.1.0
fastapi==0.110.0
fastjsonschema==2.20.0
filelock==3.17.0
flake8==7.1.2
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.55.8
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grep-ast==0.8.1
grpcio==1.70.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
hexbytes==0.3.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.30.2
hypothesis==6.27.3
idna==3.10
importlib_metadata==7.2.1
importlib_resources==6.5.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.28.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.8.0
kiwisolver==1.4.8
lazy-object-proxy==1.10.0
libclang==18.1.1
lightning-utilities==0.14.3
litellm==1.63.7
lru-dict==1.2.0
Mako==1.3.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
mixpanel==4.10.1
ml_dtypes==0.5.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook_shim==0.2.4
numpy==1.26.4
openai==1.66.3
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parsimonious==0.9.0
parso==0.8.4
pathspec==0.12.1
peewee==3.17.9
pexpect==4.9.0
pi==0.1.2
pillow==11.1.0
pipx==1.4.3
platformdirs==4.2.0
pluggy==1.4.0
posthog==3.19.1
prometheus_client==0.21.0
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py-solc-ast==1.2.10
py-solc-x==1.1.1
pyarrow==19.0.1
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.19.1
pygments-lexer-solidity==0.7.0
pypandoc==1.15
pyparsing==3.2.1
pyperclip==1.9.0
pytest==6.2.5
pytest-forked==1.6.0
pytest-xdist==1.34.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytorch-lightning==2.5.1
pytz==2024.2
pyunormalize==15.1.0
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==8.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rlp==4.0.0
rpds-py==0.23.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
SQLAlchemy==2.0.28
stack-data==0.6.3
starlette==0.36.3
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow_decision_forests==1.12.0
termcolor==2.5.0
terminado==0.18.1
tf_keras==2.19.0
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.3.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.6.0
torchaudio==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
tree-sitter==0.24.0
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.23.2
tree-sitter-language-pack==0.6.0
tree-sitter-yaml==0.7.0
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
urllib3==2.3.0
userpath==1.9.1
uvicorn==0.28.0
vvm==0.1.0
vyper==0.3.10
watchfiles==1.0.4
wcwidth==0.2.13
web3==6.15.0
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wrapt==1.16.0
wurlitzer==3.1.1
xxhash==3.5.0
yarl==1.18.3
ydf==0.11.0
yfinance==0.2.54
zipp==3.21.0
